<div class="artist-albums">
        <div class="row">
          
            <!-- <div *ngFor="let album of albums"> -->
                <div class="col-md-3">
                    <div class="well album">
                        <div>
                        <!-- <div *ngIf="album.images.length > 0"> -->

                            <!-- traer cancion del album -->
                            <!-- <img class="album-thumb img-thumbnail" src="{{album.images[0].url}}">     -->

                            <!-- <h4>{{album.name}}</h4> -->

                            <h4>Nombre album</h4>

                            <!-- <a class="btn btn-default btn-block" routerLink="/album/{{album.id}}">Album Details</a> -->
                            <a class="btn btn-default btn-block" >Detalle album</a> 
                        </div>   
                     </div>    
                </div>
        </div>    
    </div>
<hr>

<body> 

    <div class="cont">
     <div class="form sign-in"> 

 <h2><span>nombre artista</span></h2> 

   <form >
         <label><h4>Nombre album</h4> </label>
        <label>  <h4>Descripcion</h4> </label>
   </form>
   
 </div>
 </div>
 </body> 
 