<body class="opacidad">
  
    <!-- <div class="section">
        <h1> <b>Play</b><i>Web</i></h1> -->

    <div class="container">
        <div class="section">

        </div>
        <div  class="inicio">
                <div class="col-sm">
                    <a  routerLink="/login"  class="botonAnimado"><b>LOGIN</b>
                        <!-- <ion-icon name="play"></ion-icon> -->
                    </a>
                </div>
                <div class="col-sm">
    <!--                 <img id="buttonOne" src="img/logo.png" alt="" width="200px" height="53px"></a>
    -->
                </div>
                <div class="col-sm">
                    <a  routerLink="/registro"  class="botonAnimado"><b>REGISTRO</b>
                    <!--  <ion-icon name="person-add"></ion-icon> -->
                    </a>
                </div>
        </div>
    </div>
    
<!-- 
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="www.twitter.com" target="_blank">
                    <ion-icon class="iconoIndex" name="logo-twitter"></ion-icon>
                </a>
            </div>
            <div class="col-sm">
                <a href="https://www.pinterest.ca/" target="_blank">
                    <ion-icon class="iconoIndex" name="logo-pinterest"></ion-icon>
                </a>
            </div>
            <div class="col-sm">
                <a href="https://www.youtube.com/" target="_blank">
                </a>
            </div>
            <div class="col-sm">
                <a href="https://www.snapchat.com/l/es">
                </a>
            </div>
        </div>
    </div>
 -->
    
</body>
