<div class="col-sm">
    <img id="logoZen" src="../../../assets/img/logo-solo.png" width="380" >
    </div>
 
 <div class="container">
        <div class="row">
            <div class="col-sm">
                <a routerLink="/login" class="botonAnimado"><b> LOGIN    </b>
                    <i class="fa fa-user-circle-o mr-3 text-primary fa-fw"></i>
                </a>
            </div>
                <div class="col-sm">
                    <a routerLink="/menu" class="botonAnimado"><b> VER PAGINA    </b>
                        <i class="fa fa-music mr-3 text-primary fa-fw "> </i> 
                    </a>
                </div>
            <div class="col-sm">
                <a routerLink="/registro" class="botonAnimado"> <b> REGISTRO      </b>
                    <i class="fa fa-address-card fa-fw mr-3 text-primary "></i>
                </a>
            </div>
    </div>


<div id="contenedor_iconosHome">
 <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/bywstore.col/?modal=admin_todo_tour" target="blank_" >
        <i class="fab fa-facebook-f text-light"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1" href="https://twitter.com/explore" target="blank_" >
        <i class="fab fa-twitter text-light"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1"  href="https://www.google.com/" target="blank_">
        <i class="fab fa-google-plus-g text-light"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" href="https://www.instagram.com/bywstore.colombia/?hl=es-la" target="blank_" >
        <i class="fa fa-camera-retro fa-1x text-light"></i> 
      </a>
    </li> 
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1"  href="https://api.whatsapp.com/send?phone=573125442857&text=Hola%2C%20deseo%20informacion%20sobre%20la%20tienda%20de%20Bogota%20" target="blank_">
        <i class="fa fa-whatsapp text-light" ></i>
      </a>
    </li> 
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1"  href="mailto:angie.a.tellez87@gmail.com" target="blank_">
        <i class="fa fa-envelope text-light" ></i>
      </a>
    </li> 
  </ul>
</div>
