
.inicio {

margin-left: 200px;




}


body {
    font-family: "Roboto", sans-serif;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    /* align-content: center; */
}

.section {
    position: fixed;
    color: rgb(20, 1, 1);
    vertical-align: middle;
}

.row {
    color: rgb(10, 1, 1);
    position: relative;
    margin-top: 20%;
    text-align: center;
}

.row .iconosRedes {
    color: red;
}

b {
    color: hsl(0, 100%, 1%);
}


/* boton animado */

.center {
    /* display: flex;  */
    margin-left: 10%;
    /* align-items: center; */
    display: inline;
}

a {
    margin-right: 50px;
}

.botonAnimado {
    margin-top: 4rem;
    position: relative;
    display: inline-block;
    /*centrar*/
    font-size: 20px;
    border-radius: 8rem;
    /*esquinas redondas*/
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid #130101;
    /* color: #ffffff; */
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s ease-in;
}


/*iconos*/

ion-icon {
    font-size: 25px;
    margin-top: 5px;
}

.iconoIndex {
    color: white;
    font-size: 40px;
}

.iconoIndex:hover {
    color: #1f53c5;
}

.botonAnimado:hover {
    color: white;
    text-decoration: none;
}

.botonAnimado:before {
    content: "";
    position: absolute;
    background-color: #1f53c5;
    bottom: 0;
    left: 0;
    /*para que sea de izquierda a derecha*/
    right: 100%;
    top: 0;
    /*para que sea de abajo hacia arriba*/
    /* right: 0;
      top: 100%; */
    z-index: -1;
    transition: 0.3s ease-in;
}

.botonAnimado:hover::before {
    right: 0;
    /*para que sea de abajo hacia arriba*/
    /* top: 0; */
}

#buttonOne {
    position: absolute;
    /* position: relative; */
    left: 15%;
    top: 70%;
    border-color: blue;
    border-radius: 15px;
    /* height: 50px;
    width: 100px; */
    transition: top ease 3s;
}

#buttonOne:hover {
    top: 40%;
}