#contenedorGeneral{
    margin-left: 25%;
    margin-top: 2%;
}

#cardCanciones{
    border-radius: 15px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: lightgray;
}


.list-group-item{
    background-color: lightgray; 
}


#cardCanciones:hover{
   font-weight: bold;
}




/* CSS DEL NAV BAR  */

.text-gray {
    color: #aaa;
  }


#navHorizontal{
width: 100%;
position: fixed;
box-shadow: 3px 3px 10px lightgray;
z-index: 20;
}

#tituloNav{
    color: lightgrey;
    text-align: center;
}

.tituloNavHorizontal{
    font-weight: bolder;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.tituloNavHorizontal:hover{
    color: rgb(45, 175, 230);
    font-size: large;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 300vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    /* box-shadow: 3px 3px 10px lightgray; */
    transition: all 0.4s;
    }

hr{
    color: gray !important;
    border: 1px solid;
}

  .nav-link{
      color: white !important;
      font-weight: bold;
  }

  .nav-link:hover{
      color: lightgray !important;
      font-size: large;
  }

  .fotoUsuario{
      text-align: center;
      color: gray;
  }

  #foto{
      margin-left: 80px;
  }



/* #boton{
    text-align: center;
    margin-left: 19%;
    margin-top: -1%;
    background-color: lightgray;
    border-radius: 10px;
    position: fixed;
    z-index: 30;
}

  #activar ~ .desplegable {display: none;overflow: hidden;}
#activar:checked ~ .desplegable {display: block;} */


