#cardCanciones{
    border-radius: 15px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: lightgray;
}

li{
    background-color: lightgray;
}

.card-img-top:hover{
    width: 300px;
}

#cardCanciones:hover{
   
   font-weight: bold;
}