<!----------------------------------------- aca incia el navbar horizontal  --------------------------------------->
<nav class="navbar navbar-dark bg-dark" id="navHorizontal">
  <a class="navbar-brand"></a>
  <form class="form-inline">
      <div class="nav-item">
          <a class="nav-link" class="tituloNavHorizontal" routerLink="/login">CERRAR SESION</a>
      </div>
      <div class="nav-item">
          <a class="nav-link" class="tituloNavHorizontal" routerLink="/registro" >REGISTRARSE </a>
      </div>
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    <button class="btn btn-outline-info my-2 my-sm-0 " type="submit">BUSCAR</button>
  </form> 
</nav>



<!----------------------------------------- aca inicia el navbar Vertical  --------------------------------------->

    <div class="vertical-nav bg-dark" id="sidebar" >
      <div class="py-4 px-3 mb-4 bg-dark">
        <div class="media d-flex align-items-center bg-dark">
            <div *ngFor="let img of imagen1">
                <img style="width: 240px;" id="img" width="100" [src] = "img" />
            </div>
    
        </div>
      </div>
    <br>
      <p class="text-gray font-weight-bold text-uppercase px-3 medium  pb-4 mb-0">PLAY LIST</p>
    
      <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
          <a routerLink="/#" class="nav-link text-dark bg-dark">
                    <i class="fa fa-caret-square-o-right mr-3 text-info fa-fw"></i>
                    Crear Play list
                </a>
        </li>
        <li class="nav-item">
          <a routerLink="/crear-play-list" class="nav-link text-dark bg-dark">
                    <i class="fa fa-cubes mr-3 text-info fa-fw"></i>
                    Ver Play list
                </a>
        </li>
      </ul>
    <hr>
      <p class="text-gray font-weight-bold text-uppercase px-3 medium py-4 mb-0 bg-dark">MI PERFIL</p>
    
      <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
          <a routerLink="/#" class="nav-link text-dark bg-dark">
                    <i class="fa fa-address-card mr-3 text-info fa-fw"></i>
                    Ver perfil
                </a>
        </li>
        <li class="nav-item">
          <a routerLink="/perfil" class="nav-link text-dark bg-dark">
                    <i class="fa fa-cogs mr-3 text-info fa-fw"></i>
                    Editar perfil
                </a>
        </li>
      </ul>
      <br>
    
    
    <!-- Cargar  la imagen del formulario perfil-->
    
    
      <div class="fotoUsuario">
        <div class="media d-flex align-items-center">
    
     
    
          <img id="imgUsuario" style="height: 100px; border-radius: 40px; margin: auto; display: block; "  />
    
    
          
          </div>
            <h4>Pepito perez</h4>
        </div>
    </div>
    <br><br><br><br><br><br>
    














<!-- End vertical navbar -->


<!-- <h2><span>Bienvenid@ {{ identidad.nombre }}</span></h2>  -->






<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<br><br><br>

<div id="contenedorGeneral">
<div class="row" >
<div class="col-4" class="card" id="cardCanciones"  style="width: 18rem;">
  <div *ngFor="let img of aguabajo_img">
    <img id="img" width="300" [src] = "img" class="card-img-top"  />
</div>
    <div class="card-body">
      <h5 class="card-title"> {{ cancion.aguabajo_Nombre }} </h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Album: {{ album.aguabajo_album }}</li>
        <li class="list-group-item">Emocion: {{ emocion.emocion2 }}</li>
        <li class="list-group-item">Genero: {{ genero.genero2 }}</li>
      <li class="list-group-item">Artista: {{ artista.aguabajo_artista }}</li>
      <li class="list-group-item">Año: {{ anio.anio2014 }}</li>
    </ul>
  </div>

  <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
    <div *ngFor="let img of alOido_img">
      <img id="img" width="300" [src] = "img" class="card-img-top"  />
  </div>
      <div class="card-body">
        <h5 class="card-title"> {{ cancion.alOido_Nombre }} </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Album: {{ album.alOido_album }}</li>
        <li class="list-group-item">Emocion: {{ emocion.emocion3 }}</li>
        <li class="list-group-item">Genero: {{ genero.genero2 }}</li>
      <li class="list-group-item">Artista: {{ artista.alOido_artista }}</li>
      <li class="list-group-item">Año: {{ anio.anio2019 }}</li>
      </ul>
    </div>

    <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
      <div *ngFor="let img of anzar_img">
        <img id="img" width="300" [src] = "img" class="card-img-top"  />
    </div>
        <div class="card-body">
          <h5 class="card-title"> {{ cancion.anzar_Nombre }} </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.anzar_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion1 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero4 }}</li>
        <li class="list-group-item">Artista: {{ artista.anzar_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio2013 }}</li>
        </ul>
      </div>
</div>
  

<!-- ------------------------ segunda linea de canciones  -------------------------->

<div class="row" >
  <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
    <div *ngFor="let img of bajoTierra_img">
      <img id="img" width="300" [src] = "img" class="card-img-top"  />
  </div>
      <div class="card-body">
        <h5 class="card-title"> {{ cancion.bajoTierra_Nombre }} </h5>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.bajoTierra_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion3 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero1 }}</li>
        <li class="list-group-item">Artista: {{ artista.bajoTierra_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio1996 }}</li>
      </ul>
    </div>
  
    <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
      <div *ngFor="let img of caballito_img">
        <img id="img" width="300" [src] = "img" class="card-img-top"  />
    </div>
        <div class="card-body">
          <h5 class="card-title"> {{ cancion.caballito_Nombre }} </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.caballito_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion2 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero6 }}</li>
        <li class="list-group-item">Artista: {{ artista.caballito_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio2016 }}</li>
        </ul>
      </div>
  
      <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
        <div *ngFor="let img of cancionAgradecimiento_img">
          <img id="img" width="300" [src] = "img" class="card-img-top"  />
      </div>
          <div class="card-body">
            <h5 class="card-title"> {{ cancion.cancionAgradecimiento_Nombre }} </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Album: {{ album.cancionAgradecimiento_album }}</li>
            <li class="list-group-item">Emocion: {{ emocion.emocion5 }}</li>
            <li class="list-group-item">Genero: {{ genero.genero7 }}</li>
          <li class="list-group-item">Artista: {{ artista.cancionAgradecimiento_artista }}</li>
          <li class="list-group-item">Año: {{ anio.anio2014 }}</li>
          </ul>
        </div>
  </div>

  <!-- ------------------------ tercera linea de canciones  -------------------------->

<div class="row" >
  <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
    <div *ngFor="let img of dejateLlevar_img">
      <img id="img" width="300" [src] = "img" class="card-img-top"  />
  </div>
      <div class="card-body">
        <h5 class="card-title"> {{ cancion.dejateLlevar_Nombre }} </h5>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.dejateLlevar_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion2 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero3 }}</li>
        <li class="list-group-item">Artista: {{ artista.dejateLlevar_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio1997 }}</li>
      </ul>
    </div>
  
    <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
      <div *ngFor="let img of feliz_img">
        <img id="img" width="300" [src] = "img" class="card-img-top"  />
    </div>
        <div class="card-body">
          <h5 class="card-title"> {{ cancion.feliz_Nombre }} </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.feliz_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion2 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero3 }}</li>
        <li class="list-group-item">Artista: {{ artista.feliz_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio1997 }}</li>
        </ul>
      </div>
  
      <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
        <div *ngFor="let img of paQueTrabajar_img">
          <img id="img" width="300" [src] = "img" class="card-img-top"  />
      </div>
          <div class="card-body">
            <h5 class="card-title"> {{ cancion.paQueTrabajar_Nombre }} </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Album: {{ album.paQueTrabajar_album }}</li>
            <li class="list-group-item">Emocion: {{ emocion.emocion2 }}</li>
            <li class="list-group-item">Genero: {{ genero.genero5 }}</li>
          <li class="list-group-item">Artista: {{ artista.paQueTrabajar_artista }}</li>
          <li class="list-group-item">Año: {{ anio.anio2016 }}</li>
          </ul>
        </div>
  </div>


   <!-- ------------------------ cuarta linea de canciones  -------------------------->

<div class="row" >
  <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
    <div *ngFor="let img of chocolate_img">
      <img id="img" width="300" [src] = "img" class="card-img-top"  />
  </div>
      <div class="card-body">
        <h5 class="card-title"> {{ cancion.chocolate_Nombre }} </h5>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.chocolate_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion5 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero5 }}</li>
        <li class="list-group-item">Artista: {{ artista.chocolate_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio2011 }}</li>
      </ul>
    </div>
  
    <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
      <div *ngFor="let img of remanso_img">
        <img id="img" width="300" [src] = "img" class="card-img-top"  />
    </div>
        <div class="card-body">
          <h5 class="card-title"> {{ cancion.remanso_Nombre }} </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.remanso_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion3 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero1 }}</li>
        <li class="list-group-item">Artista: {{ artista.remanso_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio2015 }}</li>
        </ul>
      </div>
  
      <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
        <div *ngFor="let img of solo_img">
          <img id="img" width="300" [src] = "img" class="card-img-top"  />
      </div>
          <div class="card-body">
            <h5 class="card-title"> {{ cancion.solo_Nombre }} </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Album: {{ album.solo_album }}</li>
            <li class="list-group-item">Emocion: {{ emocion.emocion1 }}</li>
            <li class="list-group-item">Genero: {{ genero.genero8 }}</li>
          <li class="list-group-item">Artista: {{ artista.solo_artista }}</li>
          <li class="list-group-item">Año: {{ anio.anio1993 }}</li>
          </ul>
        </div>
  </div>

   <!-- ------------------------ quinta linea de canciones  -------------------------->

<div class="row" >
  <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
    <div *ngFor="let img of tuBoca_img">
      <img id="img" width="300" [src] = "img" class="card-img-top"  />
  </div>
      <div class="card-body">
        <h5 class="card-title"> {{ cancion.tuBoca_Nombre }} </h5>
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.tuBoca_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion4 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero5 }}</li>
        <li class="list-group-item">Artista: {{ artista.tuBoca_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio2002 }}</li>
      </ul>
    </div>
  
    <div class="col-4" class="card" id="cardCanciones" style="width: 18rem;">
      <div *ngFor="let img of teInvito_img">
        <img id="img" width="300" [src] = "img" class="card-img-top"  />
    </div>
        <div class="card-body">
          <h5 class="card-title"> {{ cancion.teInvito_Nombre }} </h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Album: {{ album.teInvito_album }}</li>
          <li class="list-group-item">Emocion: {{ emocion.emocion2 }}</li>
          <li class="list-group-item">Genero: {{ genero.genero9 }}</li>
        <li class="list-group-item">Artista: {{ artista.teInvito_artista }}</li>
        <li class="list-group-item">Año: {{ anio.anio2011 }}</li>
        </ul>
      </div>
  </div>
</div>
<br><br><br><br>
    
    
  

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->


<footer class="page-footer font-small stylish-color-dark pt-4">
  <hr>  <!--------------------- linea de division -------------------->

<div class="ico">
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/bywstore.col/?modal=admin_todo_tour" target="blank_" >
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1" href="https://twitter.com/explore" target="blank_" >
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1"  href="https://www.google.com/" target="blank_">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1" href="https://www.instagram.com/bywstore.colombia/?hl=es-la" target="blank_" >
        <i class="fa fa-camera-retro fa-1x"></i> 
      </a>
    </li> 
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1"  href="https://api.whatsapp.com/send?phone=573125442857&text=Hola%2C%20deseo%20informacion%20sobre%20la%20tienda%20de%20Bogota%20" target="blank_">
        <i class="fa fa-whatsapp" ></i>
      </a>
    </li> 
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1"  href="mailto:angie.a.tellez87@gmail.com" target="blank_">
        <i class="fa fa-envelope" ></i>
      </a>
    </li> 
  </ul>
  <hr>  <!--------------------- linea de division -------------------->

  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://bictia.com/" target="blank_"> Bictia.com</a>
  </div>
 
</div>

</footer>

  
  
  
  


