



<!-- ------------------------------------Menu---------------------------------- -->

<body> 
  <div class="cont">
    <div class="form sign-in">
        <div *ngFor="let img of imagen5"><img class="logo" [src] = "img" /></div>
      <h2>Login</h2>

                  <form #formularioLogin="ngForm" (ngSubmit)="loginUsuario()">

                    <label>  <span> Correo Electrónico</span><input type="text"  placeholder="Ingresa tu email" name="correo"
                        #correo="ngModel" [(ngModel)]="login.correo" /> </label>
                  

                    <label><span>Contraseña</span><input type="password" placeholder="*********" name="contrasena"
                        #contrasena="ngModel" [(ngModel)]="login.contrasena" /></label>    

                    <button class="submit" type="submit">Iniciar Sesión</button>
                    
                  </form>

      <!-- -------------------------------------------------- -->

      <p class="forgot-pass">Se te olvidó tu contraseña ?   </p>

      <p class="forgot1">Puedes iniciar sesión con:</p>


      <div class="social-media">

        <ul>

          <li><div class="fa" *ngFor="let img of imagen1"><img [src] = "img" /></div></li>
          <li><div class="fa1" *ngFor="let img of imagen2"><img [src] = "img" /></div></li>
          <li><div class="fa2" *ngFor="let img of imagen3"><img [src] = "img" /></div></li>
          <li><div class="fa3" *ngFor="let img of imagen4"><img [src] = "img" /></div></li>

        </ul>
      </div>
    </div>

   <!-- Barra lateral con imagen -->


   <div class="sub-cont">
    <div class="img">
        <!-- <div class="fondo" *ngFor="let img of imagen6"><img [src] = "img" /></div> -->

      <div class="img-text m-up">
        <h2> Nuevo aquí?  </h2>
        <p>¡Regístrate y descubre una gran cantidad de nuevas oportunidades!</p>
      </div>
   
      <div class="img-btn"> 
        
        
        <span><a class="m-up" routerLink="/registro">Registrate</a></span>

        <span class="m-in">Login</span>
      </div>
    </div>    
  </div>
</div>
</body> 




