<!-- <app-menu></app-menu>  
<router-outlet></router-outlet>
<app-footer></app-footer> -->


<div *ngIf="pagina == '' || pagina == undefined " >   
    <!-- <app-home></app-home>    -->
   <router-outlet></router-outlet>     
</div> 




<div *ngIf="pagina == 'menu' || pagina == undefined " >   
    <!-- <app-home></app-home>    -->
   <router-outlet></router-outlet>     
</div> 


<!-- <div *ngIf="home == 'login'  " >   
    <app-footer></app-footer> 
   <router-outlet></router-outlet>     

</div>  -->


<div *ngIf="pagina == 'menu-no-registrados' || pagina == undefined " >    
   <router-outlet></router-outlet> 
   <app-cancion-todas></app-cancion-todas>  
   <app-footer></app-footer>
   <!-- <app-menu></app-menu>   -->
</div> 

<!-- <div *ngIf="pagina == 'cancion-todas' || pagina == undefined " >    
    <router-outlet></router-outlet> 
    <app-cancion-todas></app-cancion-todas>  
    <app-footer></app-footer>
    <app-menu></app-menu> 
 </div>  -->