<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



<!-- <footer>
    <div class="container-footer-all"> 
  <div class="container-body">
  <div class="columna1">

  </div>
  <div class="columna2">
    <h1>NUESTRAS REDES</h1>
    <br>
    <div class="row">
      <a href="https://www.facebook.com/bywstore.col/?modal=admin_todo_tour" target="blank_"> <img src="../../../assets/img/face.png" alt=""></a>
      <label for="">SIGUENOS EN FACEBOOK</label>
    </div>
    <div class="row">
      <a href="https://www.instagram.com/bywstore.colombia/?hl=es-la" target="blank_"> <img src="../../../assets/img/insta.png" alt=""></a>
      <label for="">SIGUENOS EN INSTAGRAM</label>
    </div>
  </div>
  <div class="columna3">
  <h1>CONTACTO</h1>
  <br>
  <div class="row">
  <a href="https://api.whatsapp.com/send?phone=573125442857&text=Hola%2C%20deseo%20informacion%20sobre%20la%20tienda%20de%20Bogota%20" target="blank_"><img src="../../../assets/img/whats.png" alt=""></a> 
  <label for="">3125442857</label>
  </div>
 
    <div class="row">
      <a href="mailto:angie.a.tellez87@gmail.com"><img src="../../../assets/img/mail.png" alt=""></a>  
      <label for="">www.zen_music.com</label>
      </div>
  </div>
  
  </div>
  
  </div>
  
  </footer>
 
   -->

<!--   <div class="btn-superman">
    <a href="mailto:angie.a.tellez87@gmail.com" target="_blank">
        <div *ngFor="let img of imagen">
            <img id="superm"  [src] = "img" />
        </div>
    </a>
  </div> -->